@media (max-width: 1560px) {
    .our-projects .our-projects-container{
        padding: 0 20px;
    }
}

@media (max-width: 1480px) {
    
    .services .container{
        position: relative;
    }

    footer form{
        grid-template-columns: 100%;
    }

    footer form textarea{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    footer form .name-and-phone{
        grid-row: 2 / 3;
    }

    footer form input{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    footer form button{
        grid-column: 1 / 2;
    }
}

@media (max-width: 1330px) {
    .top-header-container-outer .top-header .schedule span {
        display: none;
    }
}

@media (max-width: 1300px) {
    footer .container .logo{
        margin-right: 0;
    }

    .swiper-header-container .swiper-pagination-bullets{
        left: 20px;
        width: auto;
        bottom: 112.5px;
        display: none;
    }

    .swiper-header-container .swiper-header .swiper-slide .descr-container{
        right: auto;
        left: 20px;
    }
}


@media (max-width: 1230px) {

    .top-header-container-outer .top-header .schedule span {
        display: block;
    }
    .swiper-header-container .swiper-pagination-bullets .swiper-pagination-bullet:hover{
        background-color: #1B1B1B;
    }

    .branding .branding-item-container .branding-item img{
        margin-bottom: 30px;
    }

    .branding .branding-item-container .branding-item{
        margin-bottom: 70px;
        flex-direction: column;
    }

    .branding .branding-item-container{
        justify-content: space-around;
    }


    .swiper-header-container .swiper-header{
        height: 702px;
    }

    .swiper-header-container .swiper-header .swiper-slide .descr-outer-cotainer{
        height: 600px;
    }

    
    h1{
        margin-top: 120px;
    }

    .top-header-container-outer .top-header .burger{
        display: block;
    }

    .top-header-container-outer .top-header .header-nav{
        display: none;
    }

    .top-header-container-outer .top-header .header-nav ul{
        margin: 0;
    }

    .top-header-container-outer .top-header .schedule{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .top-header-container-outer .top-header .top-header-right{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: start;
    }

    .top-header-container-outer .top-header .schedule::after{
        content: "";
        width: 2px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #fff;
    }

}

@media (max-width: 1100px) {

    .services-page .services-page-container .services-page-item span{
        font-size: 20px;
    }

    .certain-service-slider .container{
        padding: 0;
    }
    
    .certain-service-slider-container-mini{
        max-width: 100%;
    }

    .our-services h1{
        margin-top: 170px;
    }
    
    .branding article .half-image-text{
        grid-template-columns: 1fr;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .branding article .half-image-text a{
        margin-bottom: 20px;
    }

    .certain-service-slider-container{
        height: 500px;
    }
    .certain-service-slider-container .swiper-buttons-container{
        display: none;
    }
    footer{
        padding: 60px 0;
    }
    footer .container {
        grid-template-columns: auto auto;
    }

    footer .container .logo{
        grid-column: 1 / -1;
        margin-bottom: 50px;
    }

    .services .services-item-container::before{
        display: none;
    }
    .services .services-item-container .services-item:hover{
        background-size: 100%;
    }
    .services .services-item-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .services .services-item-container .services-item:first-child{
        grid-column: auto;
        grid-row: auto;
    }
    .services .services-item-container .services-item:last-child{
        grid-column: auto;
    }
    .services .services-item-container .services-item{
        height: 180px;
        background-size: 100%;
    }
}

@media (max-width: 980px) {
    .our-projects .our-projects-container{
        padding-left: 20px;
        padding-right: 0;
    }

    .our-projects .our-projects-container .project-item{
        width: calc(100%  - 20px);
        padding-right: 20px;
    }
    .gutter-sizer { width: 20px; }

    .our-projects .buttons-swiper{
        margin: 0 0 30px 0;
    }

    .our-projects h5{
        font-size: 20px;
    }
    .our-projects .our-projects-container .project-item{
        padding-bottom: 25px;
    }

    .our-projects .our-projects-container .project-item  .project-item-img-container{
        height: 34vw;
    }
}

@media (max-width: 900px) {

    .services-page .services-page-container .services-page-item{
        height: 35vw;
    }

    .branding-main-image-container{
        height: 45vw;
    }

    .certain-service-slider-container{
        height: 350px;
    }
    .our-services article a{
        height: 300px;
    }
    .servicer-slider-container{
        height: 450px;
    }

    footer .container {
        grid-template-columns: auto;
    }
    footer .contacts-container{
        grid-column: 1 / -1;
        margin-bottom: 20px;
        max-width: none;
    }
    footer .contacts-container .contacts-item{
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .servicer-slider-container{
        height: 370px;
    }
    .servicer-slider-container .swiper-slide .service-descr-container{
        padding: 20px;
        height: auto;
    }
    .servicer-slider-container .swiper-slide .service-descr-container span{
        font-size: 16px;
    }
    .servicer-slider-container .swiper-buttons-container{
        display: none;
    }
}

@media (max-width: 730px) {

    .services-page .services-page-container{
        grid-template-columns: 1fr;
    }

    .our-projects h5{
        font-size: 16px;
    }

    .our-projects .our-projects-container .project-item{
        padding-bottom: 20px;
    }

    .top-header-container-outer .top-header .schedule span{
        display: none;
    }

    .branding article a, .branding article .half-image-text a{
        height: 300px;
    }

    .branding h1{
        margin-top: 100px;
        margin-bottom: 60px;
    }
    
    footer{
        margin-top: 100px;
    }

    .our-partners .swiper-partners-container .swiper-partners .swiper-slide img{
        max-width: 115px;
    }

    .branding .branding-item-container{
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .branding .branding-item-container .branding-item{
        width: 100%;
        max-width: 80%;
        align-items: start;
        flex-direction: row;
        margin-bottom: 50px;
        justify-content: start;
        max-width: unset;
    }
    .branding .branding-item-container .branding-item:last-child{
        margin-bottom: 0;
    }

    .services {
        overflow-x: hidden;
    }

    .services .services-item-container{
        grid-template-columns: auto;
    }

    .services .services-item-container{
        grid-gap: unset;
    }
    h1{
        font-size: 38px;
        margin-bottom: 60px;
    }

    .swiper-header-container .swiper-header{
        height: 602px;
    }


    .swiper-header-container .swiper-header .swiper-slide .descr-outer-cotainer{
        height: 500px;
    }

    .swiper-header-container .swiper-header .swiper-slide .descr-container a{
        font-size: 18px;
    }

    .swiper-header-container .swiper-header .swiper-slide .descr-container h2{
        font-size: 24px;
    }

    .top-header-container-outer .top-header .schedule{
        max-width: 255px;
    }

    .top-header-container-outer .top-header .header-nav ul{
        flex-direction: column;
        align-items: start;
    }

    .top-header-container-outer .top-header .header-nav ul li{
        width: 100%;
    }

    .top-header-container-outer .top-header .header-nav ul li a{
        padding: 13px 0;
        display: block;
        width: 100%;
    }

    .top-header-container-outer .top-header .header-nav ul .underlined::after{
        display: none;
    }

    .top-header-container-outer .top-header .header-nav ul .underlined a{
        color: #C09553;
    }
    .top-header-container-outer .top-header .header-nav ul .underlined:hover a{
        color: #C09553;
    }
    .top-header-container-outer .top-header .header-nav ul li:hover a{
        color: #fff;
    }
    
}

@media (max-width: 500px) {
    .certain-service-slider-container{
        height: 300px;
    }
    .our-projects .buttons-swiper button{
        margin-right: 25px;
    }
}

@media (max-width: 550px) {

    .branding article a, .branding article .half-image-text a{
        height: 250px;
    }
    .branding h1{
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .certain-service-slider-container-mini .swiper-slide{
        max-height: 90px;
    }
    .certain-service-slider-container-mini{
        bottom: -85px;
    }
    .our-services article a{
        height: 220px;
    }
    h5{
        font-size: 20px;
    }

    footer{
        padding: 50px 0;
    }
    footer .contacts-container{
        grid-template-columns: 1fr;
    }
    footer .contacts-container .contacts-item{
        max-width: none;
    }

    footer .contacts-container .contacts-item span, footer .contacts-container .contacts-item a{
        max-width: none;
    }
    .our-partners .swiper-partners-container .swiper-partners .swiper-slide img{
        max-width: 85px;
    }

    .top-header-container-outer .top-header .schedule{
        display: none;
    }
    .swiper-header-container .swiper-header .swiper-slide .descr-container{
        padding: 23px;
    }
    .swiper-header-container .swiper-header .swiper-slide .descr-container h2{
        font-size: 18px;
    }
    .swiper-header-container .swiper-header .swiper-slide .descr-container a{
        font-size: 16px;
    }

    h1{
        font-size: 32px;
        margin-top: 100px;
    }

    .branding .branding-item-container .branding-item img{
        max-height: 122px;
        width: 160px;
        margin-right: 15px;
    }

    .branding .branding-item-container{
        padding: 0;
    }
}




